header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
}
#hola{
    font-size: 40px;
    padding: 0;
}
#comple{
    
}
table{
    border: 1px solid black;
    border-spacing: 0;
    width: fit-content;
}
tr{
    border-bottom: 1px solid black;  
}
td{
    border-bottom: 1px solid black;
}
hr{
    width: 100%;
}